@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #252627;
}

/*Nav*/
nav {
  background-color: #181818;
}
.logo {
  font-family: "Kaushan Script", cursive;
  cursor: default;
}

.border {
  width: 160px;
  height: 3px;
  background: #000;
  margin: 40px auto;
}

/* header */
.main-info-section {
  color: #fff;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(100vh - 81.6px);
}
.text {
  margin-top: 120px;
}
.text h1 {
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
  font-weight: bold;
}
span:hover {
  color: #48cfad;
  transition: all 0.5;
}
span.me {
  color: #ffab00;
}
span.m-left {
  margin-left: -10px;
}
.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 0.8rem;
}
.text .contact-btn {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ffab00;
  color: #ffab00;
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
}
.text .cv {
  padding: 12px 25px;
  background-color: #ffab00;
  border: 3px solid #ffab00;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
}
.text .contact-btn:hover {
  color: #fff;
  text-decoration: none;
}
.text .contact-btn::before {
  content: "";
  background-color: #ffab00;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s;
}
.text .contact-btn:hover::before {
  height: 100%;
}

.description {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 100px;
}

.about {
  max-width: 1000px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.about-me-info p {
  font-size: 1.3rem;
  color: #bebebe;
}

.about-icon img {
  position: relative;
  left: 25%;
}
.about-header {
  font-size: 10rem;
  z-index: 0;
  color: #fff;
  opacity: 0.1;
}

.white {
  color: #fff;
}
/* back to the top button */
#button {
  display: inline-block;
  background-color: #ffab00;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Projects */
.project-header {
  font-size: 10rem;
  z-index: 0;
  color: #fff;
  opacity: 0.1;
  text-align: right;
}
.work-category button {
  border: 3px solid #ffab00;
  padding: 15px 30px;
  border-radius: 50px;
  color: #ffab00;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: #252627;
  outline: none;
  cursor: pointer;
  text-decoration: none !important;
}
div[class^="category-"] {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}
.work a {
  justify-self: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: 350px;
}
.work-category .active {
  background-color: #ffab00;
}
button.active {
  color: #fff;
}
.work a img {
  width: 350px;
  justify-self: center;
}
div.hideCategory {
  display: none;
}
.showCategory {
  display: block;
}

/* Contact */
.contact-header {
  font-size: 10rem;
  z-index: 0;
  color: #fff;
  opacity: 0.1;
}
.grid {
  color: #636e72;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid p {
  font-size: 16px;
}
.grid h2 {
  font-size: 30px;
  cursor: default;
}
.grid h2:hover {
  color: #ffab00;
  transition: all 0.5;
}
.grid p span {
  font-size: 12px;
}
.grid p span:hover {
  color: #ffab00;
  transition: all 0.5;
}
/*FOOTER*/
hr {
  border: 2px solid #707070;
}
footer {
  background: #252627;
  color: white;
}

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */
.social-network a.icoCodepen:hover {
  background-color: #636e72;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoGithub:hover {
  background-color: #2d3436;
}

.social-network a.icoTwitter:hover i,
.social-network a.icoCodepen:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoGithub:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  top: 25px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

.year {
  color: #ffab00;
}

@media only screen and (max-width: 720px) {
  /* header */
  .main-info-section {
    margin-bottom: -70px;
  }
  .text h1 {
    font-size: 1.8rem;
    word-spacing: 5px;
  }
  .text .contact-btn {
    padding: 9px 20px;
    border: 1px solid #ffab00;
    font-size: 0.6rem;
  }
  .text .cv {
    padding: 9px 20px;
    border: 1px solid #ffab00;
    font-size: 0.6rem;
  }
  /* about */
  .about-header {
    font-size: 6rem;
  }
  .about {
    max-width: 90%;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
    padding: 40px;
    position: relative;
    top: -40px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .about-icon img {
    height: 50px;
    width: 50px;
    left: 7%;
  }
  /* projects */
  .project-header {
    font-size: 6rem;
  }
  .work a {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  .work a img {
    width: 300px;
  }
  .work a p {
    width: 300px;
  }
  .work-category button {
    border: 1px solid #ffab00;
    padding: 2px 12px;
    font-size: 0.9rem;
  }
  div[class^="category-"] {
    justify-self: center;
  }
  button.active {
    color: #fff;
  }

  /* contact */
  .contact-header {
    font-size: 6rem;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .grid h2 {
    font-size: 23px;
  }
  /* footer */
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 15px;
    top: -5px;
    left: 80px;
  }
}

/* .contain{
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-left: auto;
  margin-right: auto;
} */
